<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  Welcome to Spark!

  <ion-item>
    <ion-label color="primary">Question</ion-label>
    <ion-input required type="text" placeholder="Please input" [(ngModel)]="question"></ion-input>
  </ion-item>

  <ion-button expand="full" (click)="getAnswer();">Get Answer</ion-button>
  <ion-label color="primary">Or</ion-label>
  <ion-button expand="full" (click)="getAnswer();">Hold to record voice question and release to get answer</ion-button>

  <ion-list *ngIf="answerList || answerGot">
    <ion-item *ngFor="let answer of answerList">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{answer.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>{{answer.content}}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>